.div-principal {
    display: flex;
    justify-content: center;
    padding: 60px 50px;
}

.div-cadastro {
    width: 400px;
    margin-right: 40px;
}

.div-lista {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
}

.div-lista a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #8f9aa9;
}

.lixeira {
    margin-left: 10px;
    cursor: pointer;
}

.botaoLista {
    margin-top: 20px;
}

@media only screen and (max-device-width: 520px) {
    .div-principal {
        flex-direction: column;
        align-items: center;
    }

    .div-lista {
        margin-left: 0;
    }

    .div-cadastro {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 250px;
    }
}