.div-principal {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.div-cadastro {
    width: 20%;
    margin-right: 40px;
}

.div-lista {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    width: 30%;
    margin-left: 40px;
}

.div-lista a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #8f9aa9;
    font-size: 20px
}

.lixeira {
    margin-left: 10px;
    cursor: pointer;
}

.botaoLista {
    margin-top: 20px;
}