* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: #313944;
}

header {
    padding: 30px 0 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}

footer {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
}

h1 {
    color: #F0793F;
    font-size: 50px;
    font-weight: 900;
}

ul {
    list-style-type: none;
}

li {
    font-family: 'Courier New', Courier, monospace;
    color: #8996a7;
    margin-bottom: 20px;
    font-size: 20px
}

h2 {
    margin-bottom: 20px;
    font-weight: 400;
}

input {
    width: 100%;
    margin: 0 0 10px;
    padding: 15px 0 15px 15px;
    border-radius: 5px;
    background-color: #464D56;
}

form {
    width: 100%;
}

::placeholder {
    color: white;
    font-size: 16px;
}

button {
    width: 150px;
    padding: 15px 0;
    border-radius: 5px;
    background-color: #F0793F;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}