.div-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.div-principal2 {
    margin-top: 20px;
    display: flex;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px 40px 40px 40px;
    flex-direction: column;
    word-wrap: break-word;
}

.div-principal p {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 100;
}

.div-input {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

#back, #alterarSenha {
    color: #8f9aa9;
}